<div class="row jumbotron">
  <div class="col-md-6 offset-md-3">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h1>Iniciar Sesión</h1>
      <br>
      <label>Correo Electrónico</label>
      <input type="email" id="inputEmail" class="form-control" formControlName="email" autofocus>
      <label>Contraseña</label>
      <input type="password" id="inputPassword" class="form-control" formControlName="password">
      <br>
      <div class="text-center botonesSeparados">
        <button type="submit" class="btn btn-primary btn-lg">Iniciar Sesion</button>
        <a href="sesion#" title="Google+" class="btn btn-googleplus btn-lg" (click)="iniciarSesionGoogle()">
          <i class="fa fa-google-plus fa-fw"></i> Google+
        </a>
      </div>
      <br>
      <hr>
      <br>
      <div class="text-center">
        <button type="button" class="btn btn-primary btn-lg" routerLink="/registro">Ir a Registrarse</button>
      </div>
    </form>
  </div>
</div>
